- var results = {1:"Resultat #1", 2:"Resultat #2",3:"Resultat #3",4:"Resultat #4",5:"Resultat #5",6:"Resultat #6",7:"Resultat #6",8:"Resultat #6",9:"Resultat #6",10:"Resultat #6",11:"Resultat #6",12:"Resultat #6",13:"Resultat #6",14:"Resultat #6",15:"Resultat #6"}

div#searchResultDiv
    div#filterDiv
        div.spacerDiv
        span Filtres actifs :
        p Département: #{searchDept} / Type de bien: #{searchTypeBien} Type d'achat: #{searchTypeAchat} / Ville: #{searchVille}
    div#gridDiv
        div.spacerDiv
        each result in results
            div#resultDiv
                img(src="/assets/img/background.jpg", alt="Photo de la propriété")
                span #{result}